<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="%HOME%\anaconda3\envs\$(ANACONDA_ENV_NAME)\python.exe"
                  arguments="-m gunicorn --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 app.main:app"
                  stdoutLogEnabled="true"
                  startupTimeLimit="120"
                  processesPerApplication="1"
                  startupRetryCount="10"
                  stdoutLogFile=".\logs\stdout">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%PYTHONPATH%;D:\home\site\wwwroot" />
        <environmentVariable name="PORT" value="8000" />
        <environmentVariable name="WEBSITE_NODE_DEFAULT_VERSION" value="~16" />
        <environmentVariable name="SCM_DO_BUILD_DURING_DEPLOYMENT" value="1" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="30720" />
  </system.web>
</configuration>